html, body{
    font-family: 'TT Lakes';
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin: 0px;
}
.wrapper{
    
    display: flex;
    flex-direction: column;
}
.button-g{
    background: none;
    border: none;
    display: flex;
}
.logo {
    margin-left: 8px;
    margin-right: 8px;
}
/*------------header------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px #D9FFF5 solid;
    padding: 16px 2% 16px 2% ;
}
.header-button {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-button span{
    display: none;
}
.header__call{
    display: none;
}
.header__chat{
    display: none;
}
.header__profile{
    display: none;
}
.header__check-status{
    padding-left: 20px;
    border-left: solid 2px #EAEAEA;
    margin-left: 14px;
}
.header__left{
    display: flex;
    align-items: center;
}
.header__right{
    display: flex;
    align-items: center;
}
/*------------content------------*/

.content{
    display: flex;
    background-color: #F8F8F8;
    flex-direction: column;
}
.header-pseudo__elem{
    display: none;
}
h1{
    background: url(../resource/highlight.svg) no-repeat left center/0.2em 1.5em;
    padding: 12px 15px;
}
.content-body{
    display: flex;
    flex-direction:column;
}
.content__nav{
    display: flex;
    flex-wrap: nowrap;
    margin-left: 3%;
    overflow-x: scroll;
    background: linear-gradient(270deg, #F8F8F8 0%, #f8f8f800 100%);
}
.content__nav::-webkit-scrollbar {
    width: 0;
}
.nav-elem{
    font-size: 16px;
    font-family: 'TT Lakes';
    padding-left: 3%;
    padding-right: 3%;
    height: 40px;
    margin-left: 1%;
    border: none;
    background: rgba(0,0,0,0);
    white-space: nowrap;
}
.nav-elem:hover{
    background: #FFFFFF;
    border: 2px #B8FFEC solid;
    border-radius: 3px;
}
.content-body__text{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    overflow:hidden;
    max-height: 150px;
}
.content-body__text p{
    overflow:hidden;
}
.content-body__read-more{
    border: none;
    background: none;
    align-items: center;
}
.content-body__read-more span{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    font-weight:600;
}
.content-body__img{
    margin-top: 5%;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------media-768--------------*/

@media (min-width: 768px) {
    .header__call{
        display: flex;
    }
    .header__chat{
        display: flex;
    }
    .header__profile{
        display: flex;
    }
    .header-left .divader{
        display: flex;
    }
    .header__burger{
        padding-right: 20px;
        border-right: solid 2px #EAEAEA;
        margin-right: 14px;
    }

    .content-body{
        flex-direction: row;
        justify-content: space-between;
    }
    .content-body__text{
        width: 50%;
        max-height: 200px;
    }
    .content-body__img{
        margin: 0px;
        margin-right: 3%;
        width: 50%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px ;
    }
}

/*-----------media-1120--------------*/

@media (min-width: 1024px) {

    header{
        display: none;
    }
    .header-button{
        border: none;
    }
    .header-button span{
        font-family: 'TT Lakes';;
        font-weight: 600;
        display: flex;
    }
    .header-button img{
        padding-left: 16px;
    }
    .content__nav{
        overflow: visible;
        flex-wrap: wrap;
    }
    .header-pseudo__elem{
        display: flex;
        margin-left: auto;
        position: absolute;
        top: 3%;
        right:3%;
    }
    .header-pseudo__elem label{
        display: flex;
        align-items: center;
        font-weight:600;
        padding-left: 20px;
    }

}
